[user]
        name = Joshua Buchacher
        email = jbuchacher@me.com
[core]
        editor = emacsclient -nw -a=
        excludesfile = /Users/jbuchacher/.gitignore
[alias]
  co = checkout
  ci = commit
  cm = commit -m
  dc = diff --cached
  st = status
  pu = remote update --prune
  aa = add --all
  l = log --graph --abbrev-commit --date=relative
  bro = !git branch -r | grep origin
  sl = stash list
  standup = log --since="25.hours.ago" --author Joshua
[color]
        ui = true
[branch "master"]
        remote = origin
        merge = refs/heads/master
[credential]
        helper = osxkeychain
[push]
        default = simple
[pull]
	rebase = true
